@model TransacaoModel

@{
    ViewData["Title"] = "Cadastro de Transações";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2>@ViewData["Title"]</h2>
            <form asp-asp-controller="Transacao" asp-action="Cadastrar" method="post">
                <div class="form-group">
                    <input type="hidden" asp-for="Id" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Data" class="control-label">Data da Transação</label>
                    <input type="date" asp-for="Data" class="form-control" />
                    <span asp-validation-for="Data" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Valor" class="control-label">Valor da Transação</label>
                    <input type="number" asp-for="Valor" class="form-control" />
                    <span asp-validation-for="Valor" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PlanoContaId" class="control-label">Plano de Contas</label>
                    @Html.DropDownListFor(m => m.PlanoContaId, Model.PlanoContas, new {@class = "form-select"})
                    <span asp-validation-for="PlanoContaId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Historico" class="control-label">Histórico</label>
                    <input type="text" asp-for="Historico" class="form-control" />
                    <span asp-validation-for="Historico" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                    <button type="button" class="btn btn-secondary" onclick="Voltar()" >Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function Voltar() {
        window.location.href = "../Transacao";
    }
</script>